@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.game-box{
  height: 150px;
  width: 150px;
  border: 1px solid black;
  font-size: 130px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}
.board{
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
}
.full-board{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.winner{
  font-family: 'Pacifico', cursive;
}
@media screen and (max-width : 576px){
   
  .board{
  max-width: 300px;
  }
  .game-box{
      height: 90px;
      width: 90px;
      font-size: 75px;
  }
  
}
@media screen and (max-width : 350px){
    
  .board{
    max-width: 250px;
    }
    .game-box{
        height: 75px;
        width: 75px;
        font-size: 65px;
    }
    
}